@keyframes pop {
  0%   {
    transform: scale(0.9);
  }
  80% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  0%   {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.rewards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 30px auto;
  padding: 40px 20px 0 20px;
  gap: 30px;
}

.rewards .reward {
  border: 1px solid #a6afb5aa;
  box-shadow: 0 2px 24px 0 #132029;
  border-radius: 8px;
  background: #253e4f;
  color: #ebede9;
  padding: 0 14px 10px 14px;
  width: 300px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 20px;
  font-size: .9em;
  line-height: 1.3em;

  cursor: pointer;
  transition: all ease-in .15s;
  box-shadow: 0 2px 24px 4px  #132029;
}

.rewards .reward:hover {
  border: 1px solid white;
  background: #3e6071;
  color: white;
  text-shadow: none;
  transform: translateY(-10px);
}

.rewards .heading {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 10px 5px 30px 5px;
}

.rewards h3 {
  text-shadow: none;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Aptos, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.5em;
  line-height: 1.5em;
  opacity: .6;
  margin: 0;
}

.rewards h4 {
  font-size: 1.5em;
  margin: 0;
  line-height: 1.5em;
  font-weight: bold;
}

.rewards ul {
  text-align: left;
  margin-left: 20px;
  line-height: 1.8em;
  font-size: 1.1em;
}

.rewards li.new {
  font-weight: bold;
}

.rewards li:before {
  content: "×1";
  margin-right: 8px;
  opacity: 0.4;
  font-weight: bold;
}

.rewards li.two:before {
  content: "×2";
  margin-right: 8px;
  opacity: 0.4;
}


.reward .delivery {
  font-size: .9em;
}

.reward .delivery h4 {
  font-size: .9em;
  font-weight: bold;
  opacity: .6;
}

h3.contact {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Aptos, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 40px 0;
  text-shadow: none;
  font-weight: bold;
}

#dialog {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}

#dialog.visible {
  display: block;
}

#dialog .overlay {
  background-color: #00000088;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#dialog.visible .overlay {
  animation: fade-in .3s;
}

#dialog .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#dialog .close:hover,
#dialog .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#dialog .main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dialog .content {
  border: 1px solid #a6afb5aa;
  box-shadow: 0 2px 24px 10px #000000aa;
  border-radius: 8px;
  color: #090a14;
  background: #ebede9;
  border-radius: 8px;
  padding: 30px 40px;
  width: 80%;
  max-width: 800px;
  text-align: center;
}

#dialog.visible .content {
  animation: pop .15s;
}

#dialog .content h3 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Aptos, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  font-size: 1.8em;
  margin: 0;
}

#dialog .content p {
  opacity: .6;
  margin: 0;
  text-align: center;
  max-width: none;
}

#dialog .flags {
  margin: 15px;
  display: flex;
  justify-content: center;
}

#dialog .flags a {
  cursor: pointer;
  padding: 0 15px;
}

#dialog .flags a img {
  transition: all ease-in .15s
}

#dialog .flags a:hover img {
  scale: 1.2;
}

#dialog .flags img {
  width: 60px;
}

#dialog .legend span {
  display: none;
  opacity: .6;
  font-weight: bold;
}

#dialog .legend span.visible {
  display: block;
}
