@keyframes overlay {
  0% { background: transparent; }
  50% { background: transparent; }
  100% { background: #00000088; }
}


* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

label[for] { cursor: pointer; }
.grid {
  width: 100%;
  background-color: #202e37;
  z-index: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  padding: 16px;
  overflow: auto;
  text-align: center;
  transition: opacity .75s;
}

.grid .grid-item {
  width: 25%;
  display: inline-block;
  padding: 16px;
  opacity: .75;
  transition: opacity .5s;
}

.grid .grid-item:hover { opacity: 1; }
@media screen and (max-width: 1024px) {
.grid .grid-item { width: 50%; }
}
@media screen and (max-width: 480px) {
.grid .grid-item { width: 100%; }
}

.grid img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25);
}

input[type="checkbox"] { display: none; }
.lightbox {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  z-index: 1;
  overflow: auto;
  transform: scale(0);
  transition: transform .25s ease-out;
}
.lightbox img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 96%;
  max-height: 96%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
input[type="checkbox"]:checked + .lightbox {
  transform: scale(1);
  animation: overlay .5s;
  animation-fill-mode: forwards;

}
input[type="checkbox"]:checked ~ .grid { opacity: .125; }
