@font-face {
  font-family: caroline;
  src: url(/fonts/coraline_cat.ttf);
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slide {
  0% { margin-top: -100px; }
  100% { margin-top 0; }
}

body, a {
  color: #ebede9;
}

a {
  transition: all .5s ease-in;
  text-decoration: none;
}

a:hover {
  color: #e8c170;
  text-shadow: 0 0 4px #e8c170;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s;
  animation-fill-mode: forwards;
}

.fade-in.delayed {
  animation-delay: 1.5s;
}

.slide {
  animation: slide .5s ease-in;
}

nav {
  margin: 0 auto;
  padding: 40px 0;
  display: block;
  text-align: center;
  font-size: 1.3rem;
  background-size: contain;
}

nav a {
  text-decoration: none;
  color: #ebede9;
  padding: 0 30px;
  font-family: caroline;
  display: inline-block;
}

nav a:hover {
  color: #e8c170;
  text-shadow: 0 0 12px #e8c170;
}

.side {
  font-size: 1.5rem;
  position: absolute;
  top: 20px;
  right: 20px;
}

.side a {
  padding: 0 15px;
}

header {
  text-align: center;
  margin-top: 60px;
}

header h1 {
  font-family: caroline;
  color: #e8c170;
  font-size: 4rem;
  line-height: 1.5;
  text-shadow: 0 0 12px #e8c170;
  margin: 80px 0;
}

header img {
  width: 400px;
}

body {
  background: #090a14;
}

.main {
  max-width: 800px;
  margin: 0 auto;
}

article {
  text-align: center;
}

#trailer video {
  height: 500px;
  width: 889px;
}

#links {
  padding: 80px 0;
}

#links .steam-widget {
  width: 646px;
  height: 190px;
}

@media (max-width: 800px) {
  html {
    font-size: .8em;
  }

  nav {
    font-size: 1rem;
  }

  nav a {
    padding: 0 15px;
  }

  .side {
    display: block;
    position: initial;
    text-align: center;
  }

  #trailer video {
    height: auto;
    width: 90%;
  }

  #links .steam-widget {
    width: 420px;
    height: 220px;
  }
}
