@font-face {
  font-family: caroline;
  src: url(/fonts/coraline_cat.ttf);
}

@font-face {
  font-family: poco;
  src: url(/fonts/poco.ttf);
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slide {
  0% { margin-top: -100px; }
  100% { margin-top 0; }
}

html, body {
  font-family: poco;
}

body {
  color: #ebede9;
  background: #090a14;
}

a {
  color: #e8c170;
  transition: all .5s ease-in;
  text-decoration: none;
}

a:hover {
  text-shadow: 0 0 4px #e8c170;
}

em {
  font-weight: bold;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s;
  animation-fill-mode: forwards;
}

.fade-in.delayed {
  animation-delay: 1.5s;
}

.slide {
  animation: slide .5s ease-in;
}

nav {
  margin: 0 auto;
  padding: 40px 0;
  display: block;
  text-align: center;
  font-size: 1.3rem;
  background-size: contain;
}

nav a {
  color: #ebede9;
  padding: 0 30px;
  font-family: caroline;
  display: inline-block;
}

nav a:hover {
  color: #e8c170;
  text-shadow: 0 0 12px #e8c170;
}

.side {
  font-size: 1.5rem;
  position: absolute;
  top: 20px;
  right: 20px;
}

.side a {
  color: #ebede9;
  padding: 0 15px;
}

.side a:hover {
  color: #e8c170;
}

header {
  text-align: center;
  margin-top: 60px;
}

h1 {
  font-family: caroline;
  color: #e8c170;
  font-size: 4rem;
  line-height: 1.5;
  text-shadow: 0 0 12px #e8c170;
  margin: 80px 0;
}

h2 {
  font-family: caroline;
  font-size: 2rem;
  line-height: 1.5;
  text-shadow: 0 0 12px #ebede9;
  margin: 40px 0;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
  max-width: 800px;
  text-align: left;
  margin: 20px auto;
  text-indent: 40px;
}

header img {
  width: 400px;
}

.main {
  max-width: 800px;
  margin: 0 auto;
}

.banner {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  color: white;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 1.5em;
  padding: 30px 0;
}

.banner.ks {
  background: #05ce78;
}

.banner img {
  height: 1em;
  vertical-align: middle;
}

.banner a {
  color: white;
}

.banner a:hover {
  text-decoration: underline;
}

article {
  padding: 60px 0;
  text-align: center;
}

#trailer video {
  height: 500px;
  width: 889px;
}

#links .steam-widget {
  width: 646px;
  height: 190px;
  margin-bottom: 40px;
}

#links {
  background: linear-gradient(to bottom, #090a14, #490924);
}

.platform {
  border: 3px solid white;
  display: inline-block;
  border-radius: 12px;
  padding: 12px;
  background: black;
}

.platform img {
  height: 40px;
}

a.social {
  font-size: 2rem;
}

footer {
  font-size: 1.5rem;
  margin: 40px;
  text-align: center;
}

#media {
  background: #202e37;
}

@media (max-width: 800px) {
  html {
    font-size: .8em;
  }

  nav {
    font-size: 1rem;
  }

  nav a {
    padding: 0 15px;
  }

  .side {
    display: block;
    position: initial;
    text-align: center;
  }

  #trailer video {
    height: auto;
    width: 90%;
  }

  #links .steam-widget {
    width: 420px;
    height: 220px;
  }

  .platform img {
    height: 20px;
  }

  p {
    width: 90%;
  }
}

@media(min-width: 801px) {
  .has-banner {
    padding-top: 80px;
  }

  .banner {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    z-index: 1;
  }
}
